* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profile-container {
    display: flex;
}

.side-menu {
    width: 215px;
    background-color: white;
    color: black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding: 20px;
    margin-top: 15px;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #FED7BA;
    padding: 5px;
    border-radius: 4px;
}

.profile-info div {
    font-size: 25px;
}

.profile-info i {
    font-size: 35px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#name {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: brown;
    font-weight: bold;
}

.heading {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: #716C6C;
}

.heading i {
    font-size: 15px;
    width: 15px;
    height: 15px;
    color: black;
    margin-right: 10px;
}

.subheading {
    font-size: 14px;
    margin-left: 27px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    line-height: 0.9;
}
.main-content {
    padding-left: 40px;
    padding-top: 20px;
    width: 80%;
    margin-left: 30px;
    background-color: white;
    margin-top: 20px;
    margin-left: 40px;
    border-left: 1px solid black;
    border-top:1px solid black ;
}
.container3 h3 {
    text-align: start;
    margin-left: 20px;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.container3 {
    max-width: 100%;
    text-align: center;
    margin-top: 50px;
    

}

.star{
    display:flex;
    flex-direction: row;

}
.star button{
    font-size: 1.0rem;
    color:black;
    border-radius: 15px;
    background-color: rgb(193, 62, 62);
    border: none;
    padding:6px 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.star p{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    color:grey;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.photo-item {
    width: 280px;
    height: 435px;
    margin: 10px;
    border-radius: 4px;
    background-color: rgb(235, 235, 235);
    border: 1px solid black;
}

.photo-item img {
    margin-top: 30px;
    max-width: 80%;
    height: 230px;
    border-radius: 6px;
    border: 1px solid grey;
}

.mix {
    text-align: center;
    font-family: Nutino sans, sans-serif;
    padding: 10px;
}

.mix h6 {
    list-style-type: none;
    font-size: 14px;
    color: black;
}

.mix p {
    margin-top: 5px;
    font-weight: 550;
    color: rebeccapurple;

}

.mix a {
    text-decoration: none;
}