<app-nav></app-nav>
<div class="profile-container">
    <!-- Side Menu -->
    <div class="side-menu">
        <div class="profile-info">
            <i class="fas fa-user-circle"></i>
            <div class="intext">
                <div>Hello,</div>
                <div> <span id=name>Preeti Singh</span></div>
            </div>

        </div>
        <div class="heading" style="margin-top: 35px;"><i class="fas fa-shopping-bag"></i><a routerLink="/order">My
                Orders</a></div>
        <div class="heading"> <i class="fas fa-info-circle"></i>Account Info</div>
        <div class="subheading" ><a routerLink="/profile">Profile
                Information</a></div>
        <div class="subheading"><a routerLink="/address">Manage Address</a></div>
        <div class="heading"> <i class="fas fa-credit-card"></i>Payment</div>
        <div class="subheading"><a routerLink="/card">Save Cards</a></div>
        <div class="subheading"><a routerLink="/upi">Save UPI IDs</a></div>
        <div class="subheading"><a routerLink="/gift-card">Gift Cards</a></div>
        <div class="heading"><i class="fas fa-box"></i>My Stuff</div>
        <div class="subheading" style="color:brown; font-weight: 800; font-size: 15px;"><a routerLink="/wishlist">My Wishlist</a></div>
        <div class="subheading"><a routerLink="/coupon">My Coupons</a></div>
        <div class="subheading"><a routerLink="/review">My Reviews</a></div>
        <div class="heading"> <i class="fas fa-cogs"></i>Settings</div>
        <div class="subheading"><a routerLink="/notification">Notification</a></div>
        <div class="heading"><i class="fas fa-sign-out-alt"></i>Log Out</div>


    </div>
    <div class="main-content">
        <div class="personal-info-container">
            <div class="heading" style="font-size: 28px; color:black; margin-bottom: 35px; font-weight: bold;">
                Your Wishlist</div>

            <div class="container3">
                <div class="photo-container">
                    <div class="photo-item">
                        <a routerLink="/">
                            <img src="assets/img/k1.webp" alt="Photo 1">
                        </a>
                        <div class="mix">
                            <a routerLink="/">
                                <h6>Gold GentsGleam Ring</h6>
                                <p>Rs. 65890/-</p>
                                <div class="star">
                                    <button class="check-star" style="margin-left: 100px; margin-top: 5px;">4.1 <i
                                            class="fa fa-star"></i></button>
                                </div>
                                <button id="info"
                                    style="margin-top: 5px; padding:8px 12px; background-color:#CCBDBD;color:black; border:1px solid grey; border-radius: 6px;">Add
                                    To Cart</button>
                            </a>
                        </div>
                    </div>

                    <div class="photo-item">
                        <a routerLink="/">
                            <img src="assets/img/k2.webp" alt="Photo 2">
                        </a>
                        <div class="mix">
                            <a routerLink="/">
                                <h6>BoldCraftsman geometric Ring</h6>
                                <p>Rs 59807/-</p>
                                <div class="star">
                                    <button class="check-star" style="margin-left: 100px; margin-top: 5px;">4 <i
                                            class="fa fa-star"></i></button>
                                </div>
                                <button id="info"
                                    style="margin-top: 5px; padding:8px 12px;background-color:#CCBDBD;color:black; border:1px solid grey;border-radius: 6px;">Add
                                    To Cart</button>
                            </a>
                        </div>
                    </div>

                    <div class="photo-item">
                        <a routerLink="/">
                            <img src="assets/img/k4.webp" alt="Photo 4">
                        </a>
                        <div class="mix">
                            <a routerLink="/">
                                <h6>Asethic ManlyGemForge Chain</h6>
                                <p>Rs 78900/-</p>
                                <div class="star">
                                    <button class="check-star" style="margin-left: 100px; margin-top: 5px;">4 <i
                                            class="fa fa-star"></i></button>
                                </div>
                                <button id="info"
                                    style="margin-top: 5px; padding:8px 12px;background-color:#CCBDBD; color:black; border:1px solid grey;border-radius: 6px;">Add
                                    To Cart</button>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

            <div class="container3">
                <div class="photo-container" style="margin-bottom: 40px;">
                    <div class="photo-item">
                        <a routerLink="/">
                            <img src="assets/img/ring1.jpg" alt="Photo 1">
                        </a>
                        <div class="mix">
                            <a routerLink="/">
                                <h6>Gold GentsGleam Ring</h6>
                                <p>Rs. 65890/-</p>
                                <div class="star">
                                    <button class="check-star" style="margin-left: 100px; margin-top: 5px;">4.1 <i
                                            class="fa fa-star"></i></button>
                                </div>
                                <button id="info"
                                    style="margin-top: 5px; padding:8px 12px; background-color:#CCBDBD;color:black; border:1px solid grey; border-radius: 6px;">Add
                                    To Cart</button>
                            </a>
                        </div>
                    </div>

                    <div class="photo-item">
                        <a routerLink="/">
                            <img src="assets/img/k5.webp" alt="Photo 2">
                        </a>
                        <div class="mix">
                            <a routerLink="/">
                                <h6>BoldCraftsman geometric Ring</h6>
                                <p>Rs 59807/-</p>
                                <div class="star">
                                    <button class="check-star" style="margin-left: 100px; margin-top: 5px;">4 <i
                                            class="fa fa-star"></i></button>
                                </div>
                                <button id="info"
                                    style="margin-top: 5px; padding:8px 12px;background-color:#CCBDBD;color:black; border:1px solid grey;border-radius: 6px;">Add
                                    To Cart</button>
                            </a>
                        </div>
                    </div>

                    <div class="photo-item">
                        <a routerLink="/">
                            <img src="assets/img/k8.jpg" alt="Photo 4">
                        </a>
                        <div class="mix">
                            <a href="/bestseller1.html#Bangles">
                                <h6>Asethic ManlyGemForge Chain</h6>
                                <p>Rs 78900/-</p>
                                <div class="star">
                                    <button class="check-star" style="margin-left: 100px; margin-top: 5px;">4 <i
                                            class="fa fa-star"></i></button>
                                </div>
                                <button id="info"
                                    style="margin-top: 5px; padding:8px 12px;background-color:#CCBDBD; color:black; border:1px solid grey;border-radius: 6px;">Add
                                    To Cart</button>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
