<app-nav></app-nav>
<div class="profile-container">
    <!-- Side Menu -->
    <div class="side-menu">
        <div class="profile-info">
            <i class="fas fa-user-circle"></i>
            <div class="intext">
                <div>Hello,</div>
                <div> <span id=name>Preeti Singh</span></div>
            </div>

        </div>
        <div class="heading" style="margin-top: 35px;"><i class="fas fa-shopping-bag"></i><a routerLink="/order">My
                Orders</a></div>
        <div class="heading"> <i class="fas fa-info-circle"></i>Account Info</div>
        <div class="subheading" ><a routerLink="/profile">Profile
                Information</a></div>
        <div class="subheading"><a routerLink="/address">Manage Address</a></div>
        <div class="heading"> <i class="fas fa-credit-card"></i>Payment</div>
        <div class="subheading"><a routerLink="/card">Save Cards</a></div>
        <div class="subheading"><a routerLink="/upi">Save UPI IDs</a></div>
        <div class="subheading" style="color:brown; font-weight: 800; font-size: 15px;"><a routerLink="/gift-card">Gift Cards</a></div>
        <div class="heading"><i class="fas fa-box"></i>My Stuff</div>
        <div class="subheading"><a routerLink="/wishlist">My Wishlist</a></div>
        <div class="subheading"><a routerLink="/coupon">My Coupons</a></div>
        <div class="subheading"><a routerLink="/review">My Reviews</a></div>
        <div class="heading"> <i class="fas fa-cogs"></i>Settings</div>
        <div class="subheading"><a routerLink="/notification">Notification</a></div>
        <div class="heading"><i class="fas fa-sign-out-alt"></i>Log Out</div>


    </div>
    <div class="main-content">
        <div class="img-banner">
            <img src="assets/img/banner2.jpg" alt="banner">
        </div>
        <div class="container3">
            <div class="photo-container">
                <div class="photo-item">
                    <a routerLink="/">
                        <img src="assets/img/13.png" alt="Photo 1">
                    </a>
                </div>

                <div class="photo-item">
                    <a routerLink="/">
                        <img src="assets/img/14.jpg" alt="Photo 2">
                    </a>
                </div>
            </div><!-- <div class="mix">
                <p>Enjoy Choosing Something Special/-</p>
                <button id="info"
                    style="margin-top: 5px; padding:8px 12px;background-color:#CCBDBD; color:black; border:1px solid grey;border-radius: 6px;">Shop
                    Now
                </button>

            </div> -->

        </div>
        <div class="container3">
            <div class="photo-container">
                <div class="photo-item">
                    <a routerLink="/">
                        <img src="assets/img/gc2.jpg" alt="Photo 1">
                        <div class="mix">
                            <p>Enjoy Choosing Something Special/-</p>
                            <button id="info"
                                style="margin-top: 5px; padding:8px 12px;background-color:rgb(157, 84, 84); color:white; border:1px solid grey;border-radius: 6px;">Shop
                                Now
                            </button>

                        </div>
                    </a>
                </div>

                <div class="photo-item">
                    <a routerLink="/">
                        <img src="assets/img/15.jpg" alt="Photo 2">
                        <div class="mix">
                            <p>25% off on order above Rs 10000</p>
                            <button id="info"
                                style="margin-top: 5px; padding:8px 18px;background-color:rgb(157, 84, 84); color:white; border:1px solid grey;border-radius: 6px;">Apply

                            </button>

                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>