* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FED7BA;
}

a {
    cursor: pointer;
    text-decoration: none;
    color:black;
}
.profile-container {
    display: flex;
}

.side-menu {
    width: 200px;
    background-color: white;
    color: black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding: 20px;
    margin-top: 15px;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #FED7BA;
    padding: 5px;
    border-radius: 4px;
}

.profile-info div {
    font-size: 24px;
}

.profile-info i {
    font-size: 35px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#name {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: brown;
    font-weight: bold;
}

.heading {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: #716C6C;
    margin-left: 20px;
    font-weight: 550;
}
a{
    text-decoration: none;
    color:black;
}

.heading i {
    font-size: 15px;
    width: 15px;
    height: 15px;
    color: black;
    margin-right: 10px;
    
}

.subheading {
    font-size: 14px;
    margin-left: 27px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    line-height: 1.5;
}
.main-content {
    padding-left: 40px;
    padding-top: 20px;
    width: 80%;
    margin-left: 30px;
    background-color: white;
    margin-top: 20px;
    margin-left: 40px;
    border-left: 1px solid black;
    border-top:1px solid black ;
}
.subheading select {
    width: 100%;
    padding: 5px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    background: transparent;
}

.subheading select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
h4 {
    color: #333;
    margin-bottom: 10px;
    font-size: 19px;
    margin-left: 20px;
    font-family: 'Poppins',sans-serif;
   
}

p {
    font-size: 17px;
    font-family: 'Nutino sans',sans-serif;
    line-height: 1.8;
    margin-left: 20px;
    margin-bottom: 20px;
}