<app-nav></app-nav>
<div class="profile-container">
    <!-- Side Menu -->
    <div class="side-menu">

        <div class="heading" style="margin-top: 25px; margin-left: 15px;">Filters</div>
        <div class="subheading"
            style="margin-top: 20px; font-size: 16px; font-family: 'Poppins', sans-serif; color: brown; margin-bottom: 10px; margin-left: 15px;">
            Order Status</div>
        <div class="checkbox-container">
            <div class="checkbox-option" style="margin-bottom: 8px; ">
                <input type="checkbox" id="option1" name="notificationOption" value="option1">
                <label for="option1" style="font-size: 14px;  font-family: 'Poppins', sans-serif; color:black;margin-left: 5px;">On
                    the way</label>
            </div>
            <div class="checkbox-option" style="margin-bottom: 8px;">
                <input type="checkbox" id="option2" name="notificationOption" value="option2">
                <label for="option2"
                    style="font-size: 14px;  font-family: 'Poppins', sans-serif; color:black;margin-left: 5px;">Delivered</label>
            </div>
            <div class="checkbox-option" style="margin-bottom: 8px;">
                <input type="checkbox" id="option3" name="notificationOption" value="option3">
                <label for="option3"
                    style="font-size: 14px;  font-family: 'Poppins', sans-serif; color:black;margin-left: 5px;">Cancelled</label>
            </div>
            <div class="checkbox-option" style="margin-bottom: 8px;">
                <input type="checkbox" id="option3" name="notificationOption" value="option3">
                <label for="option3"
                    style="font-size: 14px;  font-family: 'Poppins', sans-serif; color:black;margin-left: 5px;">Returned</label>
            </div>
        </div>

        <div class="subheading"
            style="margin-top: 25px; font-size: 16px; font-family: 'Poppins', sans-serif; color: brown; margin-bottom: 10px; margin-left: 15px;">
            Order Status</div>
        <div class="checkbox-container">
            <div class="checkbox-option" style="margin-bottom: 8px;">
                <input type="checkbox" id="option1" name="notificationOption" value="option1">
                <label for="option1" style="font-size: 14px;  font-family: 'Poppins', sans-serif; color:black;margin-left: 5px;">Last
                    30 Days</label>
            </div>
            <div class="checkbox-option" style="margin-bottom: 8px;">
                <input type="checkbox" id="option2" name="notificationOption" value="option2">
                <label for="option2" style="font-size: 14px;  font-family: 'Poppins', sans-serif; color:black;margin-left: 5px;">
                    2023</label>
            </div>
            <div class="checkbox-option" style="margin-bottom: 8px;">
                <input type="checkbox" id="option3" name="notificationOption" value="option3">
                <label for="option3"
                    style="font-size: 14px;  font-family: 'Poppins', sans-serif; color:black;margin-left: 5px;">2022</label>
            </div>
            <div class="checkbox-option" style="margin-bottom: 8px;">
                <input type="checkbox" id="option3" name="notificationOption" value="option3">
                <label for="option3"
                    style="font-size: 14px;  font-family: 'Poppins', sans-serif; color:black;margin-left: 5px;">2021</label>
            </div>
            <div class="checkbox-option" style="margin-bottom: 8px;">
                <input type="checkbox" id="option3" name="notificationOption" value="option3">
                <label for="option3"
                    style="font-size: 14px;  font-family: 'Poppins', sans-serif; color:black;margin-left: 5px;">others</label>
            </div>
        </div>

        <div class="heading"><i class="fas fa-sign-out-alt"></i>Log Out</div>
    </div>

    <div class="main-content">
        <div class="personal-info-container">
            <div class="heading" style="font-size: 28px; color:black; margin-bottom: 35px; font-weight: bold;">
                My Orders</div>

            <div class="search-container">
                <div class="search-input">
                    <i class="fas fa-search" style="padding-right: 10px;"></i>
                    <input type="text" placeholder="Search Your Order Here">
                </div>
            </div>

            <div class="review-container">
                <div class="review-details">
                    <div class="user-image">
                        <img src="assets/img/dp.jpg" alt="User Image">
                    </div>
                    <div class="user-info">
                        <p class="user-name">Crystals & Carats</p>
                        <p class="review-description">Stylish Golden Necklace 20carat Gold Necklace</p>
                        <div class="info">
                            <p>Category: Gold</p>
                        </div>
                        <div class="info" style="margin-top: 15px; color:brown;">
                            <p>Rs. 70000/-</p>
                        </div>
                        <div class="user-meta">
                            <p class="additional-info"><i class="fas fa-circle"
                                    style="margin-right: 3px;"></i>Delivered on Oct 14, 2023</p>
                            <p class="certified-user"><i class="fas fa-star" style="margin-right: 3px;"></i>
                                Rate & Review</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="review-container" style="margin-bottom: 600px;">
                <div class="review-details">
                    <div class="user-image">
                        <img src="assets/img/ring1.jpg" alt="User Image">
                    </div>
                    <div class="user-info">
                        <p class="user-name">Crystals & Carats</p>
                        <p class="review-description">Stylish Golden Necklace 20carat Gold Ring</p>
                        <div class="info">
                            <p>Category: Diamond</p>
                        </div>
                        <div class="info" style="margin-top: 15px; color:brown;">
                            <p>Rs. 90000/-</p>
                        </div>
                        <div class="user-meta">
                            <p class="additional-info"><i class="fas fa-circle"
                                    style="margin-right: 3px;"></i>Delivered on Oct 14, 2023</p>
                            <p class="certified-user"><i class="fas fa-star" style="margin-right: 3px;"></i>
                                Rate & Review</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
