
<div class="container" id="navbar">
    <nav>
      <div class="left">
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/shop">Shop</a></li>
          <li><a routerLink="/blog">Blog</a></li>
        </ul>
      </div>
      <div class="img">
        <img src="assets/img/logoimg.png" alt="logo">
      </div>
      <div class="right">
        <a routerLink="#" class="jwel-icon"><i class="far fa-heart"></i></a>
        <a routerLink="/profile" class="jwel-icon"><i class="fas fa-user-plus"></i></a>
        <a routerLink="/cart" class="jwel-icon"><i class="fas fa-shopping-cart"></i></a>
      </div>
    </nav>
  </div>
  
