<div class="container" id="navbar">
    <nav>
        <div class="left">
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/shop">Shop</a></li>
                <li><a routerLink="/blog">Blog</a></li>
            </ul>
        </div>
        <div class="img">
            <img src="assets/img/logoimg.png" alt="logo">
        </div>
        <div class="right">
            <div class="profile-info">
                <i class="fas fa-user-circle" style="font-size: 22px;"></i>
                <div>Admin</div>
                <div id="myModal" class="modal">
                    <div class="modal-content">

                        <div>
                            <h2><i class="fas fa-user-circle" style="margin-left: 65px; font-size: 45px;"></i></h2>
                            <h5 style="font-family: 'Poppins,sans-serif'; margin-left: 40px; margin-top: 20px;">
                                Preeti Singh</h5>
                            <h5 style="margin-left: 60px;">Admin</h5>
                            <p style="font-size: 16px;margin-top: 25px; font-family: 'Ubuntu',sans-serif;">Email:
                                preeti1709gmail.com</p>
                            <p style="font-size: 16px; margin-top: 10px; font-family: 'Ubuntu',sans-serif;">Contact:
                                +1234567890</p>
                            <p style="font-size: 16px; margin-top: 10px; font-family: 'Ubuntu',sans-serif;">Country:
                                India</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>
</div>

