<app-nav></app-nav>
<div class="container1">
    <img src="assets/img/gift_card.webp" alt="bg-image">
</div>

<div class="container3">
    <div class="photo-container">
        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/r1.webp" alt="Photo 1">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h4>Gift For Mom</h4> 
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/ear11.webp" alt="Photo 2">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h4>Gift For Wife</h4>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/pb.jpg" alt="Photo 3">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h4>Gift For Anniversary</h4>
                </a>
            </div>
        </div>

        <div class="photo-item">
           <a routerLink="/">
            <img src="assets/img/treatsforself.webp" alt="Photo 4">
           </a>
            <div class="mix">
                <a routerLink="/">
                    <h4>Gift For Birthday</h4>
                </a>
            </div>
        </div>

    </div>

    <div class="photo-container">
        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/new-necklace.webp" alt="Photo 1">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h4>Gift For Loved Ones</h4>
                </a>
            </div>

        </div>

        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/n11..jpg" alt="Photo 2">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h4>Gift For Sister</h4>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/baby.webp" alt="Photo 3">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h4>Gift For Baby</h4>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/gold bangles.jpg" alt="Photo 4">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h4>Gift for yourself</h4>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="container-img">
    <img src="assets/img/gift-11.webp" alt="img">
</div>
<app-footer></app-footer>
