.main-content {
    padding-left: 40px;
    padding-top: 20px;
    width: 80%;
    height:600px;
    margin-left: 30px;
    background-color: white;
    margin-top: 20px;
    margin-left: 40px;
    border-left: 1px solid black;
    border:1px solid black ;
}
.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: brown;
    margin-top: 20px;
    padding: 5px;
    border-radius: 4px;
}

.profile-info div {
    font-size: 24px;
}

.profile-info i {
    font-size: 35px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.profile-container {
    display: flex;
}

.side-menu {
    width: 200px;
    background-color: white;
    color: black;
    border-right: 1px solid black;
    border: 1px solid black;
    padding: 20px;
    margin-top: 15px;
}
.subheading {
    font-size: 16px;
    margin-left: 27px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 1.8;
}

.insert-product-section {
    margin: 20px; 
}
.info{
    display:flex;
    flex-direction: row;
    margin-left: 150px;
    margin-bottom: 20px;
}
.insert-product-section label {
    
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color:brown;
    font-family: 'Nutinosans',sans-serif;
}
.insert-product-section input,
.insert-product-section select,
.insert-product-section textarea {
    width: 60%;
    margin-bottom: 15px; 
    padding:8px;
    margin-left: 70px;
    border-radius: 6px;
    border:1px solid black;
    margin-top: 10px;
}

.insert-product-section div {
    display: flex; 
    align-items: center;
    margin-bottom: 15px; 
}

.insert-product-section button {
    padding: 10px 24px; 
    background-color: brown;
    color:white; 
    border: none; 
    cursor: pointer;
    margin-top: 50px;
    margin-left: 350px;
    border-radius: 6px;
}