<app-nav></app-nav>
<div class="container1">
    <div class="img-carousel">
        <a routerLink="/">
            <img src="assets/img/shop.jpg" alt="bg-img">
        </a>
        <a routerLink="/">
            <img src="assets/img/card5.jpg" alt="bg-img">
        </a>
    </div>
</div>

<div class="container2">
    <div class="side-menu">
        <li id="topic"><a routerLink="/">Categories</a></li>
        <ul>
            <li id="main"><a routerLink="/shop">Crystals</a></li>
            <ul>
                <li id="item"><a (click)="scrollToSection('gemstone')">Gemstones</a></li>
                <li id="item"><a (click)="scrollToSection('diamond')">Diamond</a></li>
            </ul>
            <li id="main"><a routerLink="/carat">Carats</a></li>
            <ul>
                <li id="item"><a [routerLink]="['/carat']" fragment="gold">Gold</a></li>
                <li id="item"><a [routerLink]="['/carat']" fragment="platinum">Platinum</a></li>
            </ul>
            <li id="main"><a routerLink="/product">Products</a></li>
            <ul>
                <li id="item"><a [routerLink]="['/product']" fragment="coins">Coin</a></li>
                <li id="item"><a [routerLink]="['/product']" fragment="biscuit">Biscuit</a></li>
                <li id="item"><a [routerLink]="['/best1']" fragment="Necklace">Necklace</a></li>
                <li id="item"><a [routerLink]="['/best1']" fragment="bracelet">Bracelet</a></li>
                <li id="item"><a [routerLink]="['/best1']" fragment="Bangle">Bangles</a></li>
                <li id="item"><a [routerLink]="['/best2']" fragment="earing">Earrings</a></li>
                <li id="item"><a [routerLink]="['/best2']" fragment="pendant">Pendant</a></li>
                <li id="item"><a [routerLink]="['/best2']" fragment="ring">Ring</a></li>
                <li id="item"><a [routerLink]="['/best3']" fragment="mangalsutra">Mangalsutra</a></li>
                <li id="item"><a [routerLink]="['/best3']" fragment="nosepins" >Nosepins</a></li>
            </ul>
            <li id="main"><a routerLink="/bride">Bridal Special</a></li>
            <ul>
                <li id="item"><a routerLink="/explore">Enchanting</a></li>
                <li id="item"><a routerLink="/explore">Trendsetter</a></li>
                <li id="item"><a routerLink="/explore">Dazzling</a></li>
                <li id="item"><a routerLink="/explore">Elegant</a></li>
            </ul>
            <li id="main"><a routerLink="/ocassion">Ocassional</a></li>
            <ul>
                <li id="item"><a routerLink="/ocassion">Birthday</a></li>
                <li id="item"><a routerLink="/ocassion">Anniversary</a></li>
                <li id="item"><a routerLink="/ocassion">Baby Shower</a></li>
                <li id="item"><a routerLink="/ocassion">Festive Gifts</a></li>
            </ul>
            <li id="main"><a routerLink="/ocassion">Personalized</a></li>
            <ul>
                <li id="item"><a routerLink="/ocassion">Jwellery Box</a></li>
            </ul>
        </ul>

    </div>

    <div class="centered-heading-container">

        <div class="centered-heading">
            <h1>Crystals</h1>
        </div>
        <div class="container3" id="gemstone">
            <div class="breadcrumb">
                <p>Shop > Crystals > Gemstone</p>
            </div>

            <div class="container-row">
                <div class="container11">
                    <img src="assets/img/ring.webp" alt="Image 1">
                    <div class="mix">
                        <div class="content-container">
                            <h4>Ring</h4>
                            <h5>Rs 2500</h5>
                            <p>50% off</p>
                        </div>
                    </div>

                </div>
                <div class="container11">
                    <img src="assets/img/e1.jpg" alt="Image 2">
                    <div class="mix">
                        <div class="content-container">
                            <h4>Earring</h4>
                            <h5>Rs 3500</h5>
                            <p>25% off</p>
                        </div>
                    </div>

                </div>
                <div class="container11">
                    <img src="assets/img/gbr.jpg" alt="Image 3">
                    <div class="mix">
                        <div class="content-container">
                            <h4>Bracelet</h4>
                            <h5>Rs 4500</h5>
                            <p>15% off</p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Second Row -->
            <div class="container-row">
                <div class="container11">
                    <img src="assets/img/pe.jpg" alt="Image 5">
                    <div class="mix">
                        <div class="content-container">
                            <h4>Pendant</h4>
                            <h5>Rs 2800</h5>
                            <p>40% off</p>
                        </div>
                    </div>
                </div>
                <div class="container11">
                    <img src="assets/img/bangem.jpg" alt="Image 6">
                    <div class="mix">
                        <div class="content-container">
                            <h4>Bangles</h4>
                            <h5>Rs 4900</h5>
                            <p>30% off</p>
                        </div>
                    </div>

                </div>
                <div class="container11">
                    <img src="assets/img/gemnek.webp" alt="Image 7">
                    <div class="mix">
                        <div class="content-container">
                            <h4>Necklace</h4>
                            <h5>Rs 5200</h5>
                            <p>50% off</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container4">
            <div class="breadcrumb" id="diamond">
                <p>Shop > Crystals > Diamond</p>
            </div>

            <div class="container-row">
                <div class="container11">
                    <img src="assets/img/dr.jpg" alt="Image 1">
                    <div class="mix">
                        <div class="content-container">
                            <h4>Ring</h4>
                            <h5>Rs 2500</h5>
                            <p>50% off</p>
                        </div>
                    </div>

                </div>
                <div class="container11">
                    <img src="assets/img/dee.webp" alt="Image 2">
                    <div class="mix">
                        <div class="content-container">
                            <h4>Earring</h4>
                            <h5>Rs 3500</h5>
                            <p>25% off</p>
                        </div>
                    </div>

                </div>
                <div class="container11">
                    <img src="assets/img/db.jpg" alt="Image 3">
                    <div class="mix">
                        <div class="content-container">
                            <h4>Bracelet</h4>
                            <h5>Rs 4500</h5>
                            <p>15% off</p>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Second Row -->
            <div class="container-row">
                <div class="container11">
                    <a routerLink="/details">
                        <img src="assets/img/dp.jpg" alt="Image 5">
                    </a>
                    <a routerLink="/details">
                        <div class="mix">

                            <div class="content-container">
                                <h4>Pendant</h4>
                                <h5>Rs 2800</h5>
                                <p>40% off</p>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="container11">
                    <img src="assets/img/dba.jpg" alt="Image 6">
                    <div class="mix">
                        <div class="content-container">
                            <h4>Bangles</h4>
                            <h5>Rs 4900</h5>
                            <p>30% off</p>
                        </div>
                    </div>

                </div>
                <div class="container11">
                    <img src="assets/img/dn.png" alt="Image 7">
                    <div class="mix">
                        <div class="content-container">
                            <h4>Necklace</h4>
                            <h5>Rs 5200</h5>
                            <p>50% off</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-footer></app-footer>
    </div>