<app-nav></app-nav>
<div class="container1">
    <img src="assets/img/2X.jpg" alt="bg-image">
</div>

<div class="heading">
    <h2>Latest Blog</h2>
    <p>By inspired hearts, our jewellery is consciously made to look and feel good on skin.
        How do you care them? We will help you. Explore our blog for the latest trends, care tips, and inspiring
        stories about our exquisite jewelry collection.
    </p>
</div>
<div class="container3">
    <div class="photo-container">
        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/blog_1.webp" alt="Photo 1">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <p>Tips to take care
                        of your Crystals</p>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/blog2.jpg" alt="Photo 2">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <p>Tips to take care
                        of your Carats</p>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/b8.jpg" alt="Photo 3">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <p>Tips to take care
                        of Bridal Sets</p>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="container-4">
    <div class="white">
        <div class="left-conn">
            <img src="assets/img/photo_shoot.webp" alt="bg">
        </div>

        <div class="right-conn">
            <p>It is a season of breezy dresses and boho jewellery to go funky and light. Colourful gemstones and
                sea-inspired jewellery like shell necklaces and pearl jewellery sets are the essence of every summer
                wardrobe. Embrace the vibrant hues of summer with statement pieces that reflect the joy and energy of
                the season. From turquoise blues to coral reds, let your accessories speak the language of summer bliss.

                Explore the beauty of nature-inspired designs, with floral motifs and leafy patterns gracing the latest
                collections. Whether you're planning a beach getaway or enjoying a sunny day in the city, adorn yourself
                with jewellery that mirrors the carefree spirit of summer.



            </p>
            <h4>Seasonal Trends in Jewellery and Accessories</h4>
        </div>
    </div>
</div>
<app-footer></app-footer>