<app-nav></app-nav>

<div class="container1">
    <div class="left-img">
        <div class="img-carousel">
            <img src="assets/img/img1.jpg" alt="img">
            <img src="assets/img/e5.jpeg" alt="img">
            <img src="assets/img/e3.jpg" alt="img">
            <img src="assets/img/img4.jpg" alt="img">
        </div>
    </div>
    <div class="right-img">
        <div class="img-carousel right-carousel">
            <img src="assets/img/ne.webp" alt="img">
            <img src="assets/img/ring13.webp" alt="img">
        </div>
        <div class="img-carousel right-carousel">
            <img src="assets/img/img2.jpg" alt="img">
            <img src="assets/img/ring.webp" alt="img">
        </div>
    </div>
</div>

<div class="container2">
    <div class="heading-container">
        <h2>Browse By Category</h2>
        <p>Discover elegance at your fingertips</p>
    </div>
    <img src="assets/img/Line-Design.svg" class="line-image">
    <div class="boxes-container">
        <div class="boxes">
            <div class="box">
                <a routerLink="/shop">
                    <img src="assets/img/gemstone.jpg" alt="Gemstone">
                </a>
                <a routerLink="/shop">
                    <p class="text-transition">Gemstone</p>
                </a>
                <div class="heading">
                    <h2>Crystal</h2>
                </div>
            </div>

            <div class="box">
                <a routerLink="/shop">
                    <img src="assets/img/d.webp" alt="Diamond">
                </a>
                <a routerLink="/shop">
                    <p class="text-transition">Diamond</p>
                </a>
            </div>
        </div>

        <div class="boxes">
            <div class="box">
                <a routerLink="/carat">
                    <img src="assets/img/biscuit2.webp" alt="Gold">
                </a>
                <a routerLink="/carat">
                    <p class="text-transition">Gold</p>
                </a>
                <div class="heading">
                    <h2>Carats</h2>
                </div>
            </div>
            <div class="box">
                <a routerLink="/carat">
                    <img src="assets/img/pl.webp" alt="Platinum">
                </a>
                <a routerLink="/carat">
                    <p class="text-transition">Platinum</p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container3">
    <div class="heading-container">
        <h2>Best Seller</h2>
        <p>Timeless elegance meet contempory style</p>
    </div>
    <img src="assets/img/Line-Design.svg" class="line-image">
    <div class="photo-container">
        <div class="photo-item">
            <a routerLink="/product">
                <img src="assets/img/coin.jpg" alt="Photo 1">
            </a>
            <div class="mix">
                <a routerLink="/product">
                    <h4>Coins</h4>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/best2">
                <img src="assets/img/new-earrings.jpg" alt="Photo 2">
            </a>
            <div class="mix">
                <a routerLink="/best2">
                    <h4>Earings</h4>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/best1">
                <img src="assets/img/bracelet.webp" alt="Photo 3">
            </a>
            <div class="mix">
                <a routerLink="/best1">
                    <h4>Bracelet</h4>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/best1">
                <img src="assets/img/Bangle.jpg" alt="Photo 4">
            </a>
            <div class="mix">
                <a routerLink="/best1">
                    <h4>Bangles</h4>
                </a>
            </div>
        </div>

    </div>

    <div class="photo-container">
        <div class="photo-item">
            <a routerLink="/best1">
                <img src="assets/img/new-necklace.webp" alt="Photo 1">
            </a>
            <div class="mix">
                <a routerLink="/best1">
                    <h4>Necklace</h4>
                </a>
            </div>

        </div>

        <div class="photo-item">
            <a routerLink="/best3">
                <img src="assets/img/new-nose-pins.webp" alt="Photo 2">
            </a>
            <div class="mix">
                <a routerLink="/best3">
                    <h4>Nose Pins</h4>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/best2">
                <img src="assets/img/ring1.webp" alt="Photo 3">
            </a>
            <div class="mix">
                <a routerLink="/best2">
                    <h4>Rings</h4>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/best2">
                <img src="assets/img/new-pendant-sets.jpg" alt="Photo 4">
            </a>
            <div class="mix">
                <a routerLink="/best2">
                    <h4>Pendant</h4>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="container4">
    <div class="heading-container">
        <h2>Bride Jwellery Special</h2>
        <p>Be the bride you always dreamt of</p>
    </div>
    <img src="assets/img/Line-Design.svg" class="line-image">
    <div class="bride-container">
        <div class="bride">
            <a routerLink="/bride">
                <img src="assets/img/8_Mararashtrian.png" alt="Bride1">
            </a>
            <div class="mix-1">
                <a routerLink="/bride">
                    <h4>Enchanting</h4>
                </a>
            </div>
        </div>

        <div class="bride">
            <a routerLink="/bride">
                <img src="assets/img/show-stopper.png" alt="Bride1">
            </a>
            <div class="mix-1">
                <a routerLink="/bride">
                    <h4>Trendsetter</h4>
                </a>
            </div>
        </div>

        <div class="bride">
            <a routerLink="/bride">
                <img src="assets/img/12_gujarati.png" alt="Bride1">
            </a>
            <div class="mix-1">
                <a routerLink="/bride">
                    <h4>Dazzling</h4>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container5">
    <div class="gift">
        <a routerLink="/gift">
            <img src="assets/img/gc1.jpg" alt="gift-card">
        </a>
    </div>
</div>

<div class="container6">
    <div class="heading-container">
        <h2>Shop By Gender</h2>
        <p>First-class jewelry for first-class Men, Women & Children.</p>
    </div>
    <img src="assets/img/Line-Design.svg" class="line-image">
    <div class="gender">
        <div class="gender-box">
            <a routerLink="/men">
                <img src="assets/img/men2.jpg" alt="men">
                <h4>Men</h4>
            </a>
        </div>

        <div class="gender-box">
            <a routerLink="/women">
                <img src="assets/img/women12.webp" alt="men">
                <h4>Women</h4>
            </a>
        </div>

        <div class="gender-box">
            <a routerLink="/kids">
                <img src="assets/img/kids.png" alt="men">
                <h4>Kids</h4>
            </a>
        </div>
    </div>
</div>
<div class="container7">
    <div class="video-carousel">
        <div class="video-item">
            <video autoplay muted loop>
                <source src="assets/video/v1.r.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="video-item">
            <video autoplay muted loop>
                <source src="assets/video/v2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>
<div class="container8">
    <div class="heading-container">
        <h2>Recommendation For You</h2>
        <p>Style meets the pulse of fashion.</p>
    </div>
    <img src="assets/img/Line-Design.svg" class="line-image">
    <div class="cont">
        <div class="const-left">
        
             <a routerLink="/ocassion">
                <img src="assets/img/Birthday.jpg">
             </a>
            <a routerLink="/ocassion">
                <img src="assets/img/anniversary.jpg">
            </a>
        
        </div>
        
        <div class="const-right">
            <a routerLink="/ocassion">
                <img src="assets/img/Personalized.jpg">
            </a>
        </div>
    </div>
</div>
<app-footer></app-footer>
<div id="signup-form" class="overlay" [style.display]="signupFormVisible ? 'flex' : 'none'">
    <div class="container-form">
        <button class="close-btn"><i class="fas fa-times"></i></button>
        <div class="left-side">
            <img src="assets/img/login.jpg" alt="Logo">
        </div>

        <div class="right-side">
            <div class="buttons">
                <button class="active">Sign Up</button>
                <button id="show-login-form">Login</button>
            </div>

            <div class="hori-1"></div>

            <div class="signup-content">
                <p>Sign up & get Rs. 500 off* coupon code for your first purchase!</p>

                <form action="#" method="#">
                    <input type="text" id="name" name="name" placeholder="Name" required>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                    <button type="button"
                        style="font-size: 14px; margin-top: -40px; margin-left: 250px; color:black; padding: 8px 14px; border-radius: 10px;"
                        id="verifyEmail" onclick="verifyEmail()">Verify</button>
                    <input type="tel" id="phone" name="phone" placeholder="Phone No." required>
                    <button type="button"
                        style="font-size: 14px; margin-top: -40px; margin-left: 250px;  color:black; padding: 8px 14px; border-radius: 10px;"
                        id="verifyPhone" onclick="verifyPhone()">Verify</button>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                    <input type="password" id="confirm-password" name="confirm-password"
                        placeholder="Confirm Password" required>
                   
                    <button type="submit">Sign Up</button>

                </form>
                <p class="account">Already have an account? <a href="#" class="login-link">Login now</a></p>
            </div>
        </div>
    </div>

</div>
<div id="login-form" class="overlay" [style.display]="loginFormVisible ? 'flex' : 'none'">
    <div class="container-form" id="login">

        <button class="close-btn"><i class="fas fa-times"></i></button>

        <div class="left-side">
            <img src="assets/img/login.jpg" alt="Logo">
        </div>

        <div class="right-side">
            <div class="buttons">
                <button class="active">Login</button>
                <button id="show-signup-form">Sign Up</button>
            </div>

            <div class="hori-1"></div>

            <div class="signup-content">
                <p>Login to your account</p>

                <form action="login-handler.php" method="post">
                    <input type="email" id="email" name="email" placeholder="Email" required>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                    <button type="submit">Login</button>
                </form>
                <p style="font-size: 12px; margin-bottom:20px;">Forgot Password?</p>
                <p class="or-divider" style="margin-bottom: 10px;">Or</p>

                <button class="google-login"><i class="fab fa-google"></i> Login with Google</button>
                <p class="account" style="font-size: 12px;">Don't have an account? <a href="#"
                        class="signup-link">Sign Up now</a></p>
            </div>
        </div>
    </div>
</div>