<app-nav></app-nav>
<div class="container3">
    <div class="photo-container">
        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/k1.webp" alt="Photo 1">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h6>Gold GentsGleam Ring</h6>
                    <p>Rs. 65890/-</p>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/k2.webp" alt="Photo 2">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h6>BoldCraftsman geometric Ring</h6>
                    <p>Rs 59807/-</p>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/k3.webp" alt="Photo 3">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h6>TitanTrove Stylish Bracelet</h6>
                    <p>Rs 89790/-</p>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/k4.webp" alt="Photo 4">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h6>Asethic ManlyGemForge Chain</h6>
                    <p>Rs 78900/-</p>
                </a>
            </div>
        </div>

    </div>

    <div class="photo-container">
        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/k5.webp" alt="Photo 1">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h6>Gold GentsGleam Ring</h6>
                    <p>Rs. 65890/-</p>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/k6.webp" alt="Photo 2">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h6>BoldCraftsman geometric Ring</h6>
                    <p>Rs 59807/-</p>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/k7.jpg" alt="Photo 3">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h6>TitanTrove Stylish Bracelet</h6>
                    <p>Rs 89790/-</p>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/k8.jpg" alt="Photo 4">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h6>Asethic ManlyGemForge Chain</h6>
                    <p>Rs 78900/-</p>
                </a>
            </div>
        </div>

    </div>

    <div class="photo-container">
        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/k9.jpg" alt="Photo 1">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h6>Gold GentsGleam Ring</h6>
                    <p>Rs. 65890/-</p>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/ring12.avif" alt="Photo 2">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h6>BoldCraftsman geometric Ring</h6>
                    <p>Rs 59807/-</p>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/n2.jpg" alt="Photo 3">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h6>TitanTrove Stylish Bracelet</h6>
                    <p>Rs 89790/-</p>
                </a>
            </div>
        </div>

        <div class="photo-item">
            <a routerLink="/">
                <img src="assets/img/ring4.jpg" alt="Photo 4">
            </a>
            <div class="mix">
                <a routerLink="/">
                    <h6>Asethic ManlyGemForge Chain</h6>
                    <p>Rs 78900/-</p>
                </a>
            </div>
        </div>

    </div>
</div>
<div class="cont1">
    <img src="assets/img/k71.png">
    <h4>EliteEmbellish Gold and Diamond Ring</h4>
    <p>Discover elegance redefined with EliteEmbellish. Elevate your style, embrace sophistication.
        Unlock refined masculinity with EliteEmbellish. Every piece tells a story of elegances
    </p>
</div>

<div class="cont2">
    <img src="assets/img/output (1).png">
    <h4>EliteEmbellish Gold and Diamond Ring</h4>
    <p>Discover elegance redefined with EliteEmbellish. Elevate your style, embrace sophistication.
        Unlock refined masculinity with EliteEmbellish. Every piece tells a story of elegances
    </p>
</div>
<app-footer></app-footer>
